@model PagedList.StaticPagedList<YvrCrimeData_Web.Models.CrimeListViewModel>
@using YvrCrimeData_Web.Models;
@using PagedList.Mvc;


@{
    ViewBag.Title = "View Crime Data";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


@using (Html.BeginForm(actionName: "CrimeList", 
                       controllerName: "Home", 
                       method: FormMethod.Get, 
                       htmlAttributes: new { @class = "form-horizontal" }))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Search and Filter Options</a>
                    <i class="icon-chevron-up"></i>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Offence Types</strong></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="table">
                                    <div class="row">
                                        @for (int i = 0; i < CrimeListViewModel.Offences.Count; i++)
                                        {
                                            string checkboxControlName = "selectedCrimeTypeList";
                                            bool isChecked = CrimeListViewModel.Offences[i].Checked;
                                            string checkedString = isChecked ? "checked" : string.Empty;
                                            string id = CrimeListViewModel.Offences[i].Id.ToString();
                                            string label = CrimeListViewModel.Offences[i].Name;

                                            <div class="col-sm-5 col-sm-offset-1">
                                                <input name="@checkboxControlName" type="checkbox" value="@id" @checkedString /> 
                                                <label>@label</label>

                                                @*@Html.HiddenFor(x => CrimeListViewModel.Offences[i].Id)
                                                @Html.CheckBoxFor(x => CrimeListViewModel.Offences[i].Checked)
                                                @Html.LabelFor(x => CrimeListViewModel.Offences[i].Checked, CrimeListViewModel.Offences[i].Name)*@
                                            </div>
                                        }
                                    </div> <!-- row -->
                                </div> <!-- table -->
                            </div> <!-- form-group -->
                        </div> <!-- panel-body -->
                    </div> <!-- panel panel-default -->

                    <div class="panel panel-default">
                    <div class="panel-heading"><strong>Neighbourhoods</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="table">
                                <div class="row">
                                    @for (int i = 0; i < CrimeListViewModel.Neighbourhoods.Count; i++)
                                    {
                                        string checkboxControlName = "selectedNeighbourhoodList";
                                        bool isChecked = CrimeListViewModel.Neighbourhoods[i].Checked;
                                        string checkedString = isChecked ? "checked" : string.Empty;
                                        string id = CrimeListViewModel.Neighbourhoods[i].Id.ToString();
                                        string label = CrimeListViewModel.Neighbourhoods[i].Name;

                                        <div class="col-sm-3 col-sm-offset-1">
                                            <input name="@checkboxControlName" type="checkbox" value="@id" @checkedString />
                                            <label>@label</label>
                                        </div>
                                    }
                                </div> <!-- row -->
                            </div> <!-- table -->
                        </div> <!-- form-group -->
                    </div> <!-- panel-body -->
                </div> <!-- panel panel-default -->

                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Date Range</strong></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Start</label>
                                <div class="col-sm-10">
                                    <div id = "startdate" class="input-group date">
                                        @Html.TextBox(name: "DateStartAsString", value: ViewBag.DateStart as string, htmlAttributes: new { @class = "form-control dateSelector" })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <script type = "text/javascript">
                                        $('#startdate').datepicker({
                                            startView: 2,
                                            clearBtn: true,
                                            orientation: "top right"
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">End</label>
                                <div class="col-sm-10">
                                    <div id = "enddate" class="input-group date">
                                        @Html.TextBox(name: "DateEndAsString", value: ViewBag.DateEnd as string, htmlAttributes: new { @class = "form-control dateSelector" })
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <script type = "text/javascript">
                                        $('#enddate').datepicker({
                                            startView: 2,
                                            clearBtn: true,
                                            orientation: "top right"
                                        });
                                    </script>
                                </div> <!-- table -->
                            </div> <!-- form-group -->
                        </div> <!-- panel-body -->
                    </div> <!-- panel panel-default -->

                    <br />

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type = "submit" class="btn btn-primary btn-sm">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Data List
            </h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped table-responsive table-bordered">
                <tr>
                    <th>
                        @Html.ActionLink(linkText: "Offence Date", 
                                         actionName: "CrimeList", 
                                         routeValues: new
                                         {
                                             sortOrder = ViewBag.DateSortParm,
                                             currentFilter = ViewBag.CurrentFilter,
                                             searchString = string.Empty,
                                             page = 1,
                                             dateStartAsString = ViewBag.DateStart,
                                             dateEndAsString = ViewBag.DateEnd,
                                             //selectedCrimeTypeList = HttpUtility.UrlEncode(CrimeListViewModel.SelectedOffenceIdString()),
                                             //selectedNeighbourhoodList = HttpUtility.UrlEncode(CrimeListViewModel.SelectedNeighbourhoodIdString())
                                             selectedCrimeTypeList = CrimeListViewModel.SelectedOffenceIdString(),
                                             selectedNeighbourhoodList = CrimeListViewModel.SelectedNeighbourhoodIdString()
                                         })
                    </th>
                    <th>
                        @Html.ActionLink(linkText: "Type of Crime", 
                                         actionName: "CrimeList", 
                                         routeValues: new
                                         {
                                             sortOrder = ViewBag.CrimeTypeSortParm,
                                             currentFilter = ViewBag.CurrentFilter,
                                             searchString = string.Empty,
                                             page = 1,
                                             dateStartAsString = ViewBag.DateStart,
                                             dateEndAsString = ViewBag.DateEnd,
                                             selectedCrimeTypeList = CrimeListViewModel.SelectedOffenceIdString(),
                                             selectedNeighbourhoodList = CrimeListViewModel.SelectedNeighbourhoodIdString()
                                         })
                    </th>
                    <th>
                        @Html.ActionLink(linkText: "Neighbourhood", 
                                         actionName: "CrimeList", 
                                         routeValues: new
                                         {
                                             sortOrder = ViewBag.NeighbourhoodSortParam,
                                             currentFilter = ViewBag.CurrentFilter,
                                             searchString = string.Empty,
                                             page = 1,
                                             dateStartAsString = ViewBag.DateStart,
                                             dateEndAsString = ViewBag.DateEnd,
                                             selectedCrimeTypeList = CrimeListViewModel.SelectedOffenceIdString(),
                                             selectedNeighbourhoodList = CrimeListViewModel.SelectedNeighbourhoodIdString()
                                         })
                    </th>
                        <th>Hundred Block</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.OffenceDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.CrimeTypeName)</td>
                            <td>@Html.DisplayFor(modelItem => item.NeighbourhoodName)</td>
                            <td>@Html.DisplayFor(modelItem => item.HundredBlock)</td>
                            <td>@Html.ActionLink("Details", "Details", new { id = item.ID })</td>
                        </tr>
                    }

                </table>
            </div>
            <div class="panel-footer">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action(actionName: "CrimeList", 
                                        routeValues: new
                                        {
                                            page,
                                            sortOrder = ViewBag.CurrentSort,
                                            currentFilter = ViewBag.CurrentFilter,
                                            dateStartAsString = ViewBag.DateStart,
                                            dateEndAsString = ViewBag.DateEnd,
                                            selectedCrimeTypeList = CrimeListViewModel.SelectedOffenceIdString().Split(',').ToArray(),
                                            selectedNeighbourhoodList = CrimeListViewModel.SelectedNeighbourhoodIdString().Split(',').ToArray()
                                        }))
            </div>
        </div>
    </div>



